*{
	text-align: center;
}
.menu{
	background-color:#012030 ;
	padding: 2px;

}
.menu ul li{
	display: inline-block;
	padding: 2px;
	margin: 2px;
	border: 2px;
	background-color: #DAFDBA;
	width: 320px;
	height: 30px;
	color:#13678A;
	font-size: 20px;
	font-family: Tahoma;
}
.footer ul li{
	display: inline-block;
	padding: 2px;
	margin: 2px;
	border: 2px;
	background-color: #13678A;
	width: 320px;
	height: 30px;
	color:#9AEBA3;
	font-size: 20px;
	font-family: Tahoma;
}
.footer{
	background-color:#DAFDBA ;
	padding: 2px;

}
.main{
	font-family: Tahoma;
}
